<!--This HTML page serves as the home page of the application with the movies list. -->

{% extends "app/base.html" %}

{% load i18n %}

{% block page_title %}{% trans "Recommendations" %}{% endblock page_title %}

{% block content %}

{% load static %}

<div class="container-fluid">
	<h2>Recommendations for You </h2>

    <!-- Movie list -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% if movie_list %}
        {% for movie in movie_list %}
            <div class="col d-flex align-tems-stretch">
                <div class="card text-center border-dark">
                    <h5 class="card-header">{{ movie }}</h5>
                    <div class="card-body">
                        <p class="card-text">
                            {{ movie.description|truncatechars:300 }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a type="button" class="btn btn-secondary" href="{% url 'show-movie' movie.id %}">
                            View Details
                        </a>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" href="#rate-{{movie.pk}}">
                            Give Rating
                        </button>

                        {% include "app/give_rating_modal.html" %}
                    </div>
                </div>    
            </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}