<!--This HTML page serves as the home page of the application with the movies list. -->

{% extends "app/base.html" %}

{% load i18n %}

{% block page_title %}{% trans "Recommendations" %}{% endblock page_title %}

{% block content %}

<!-- CSS FOR STAR RATING, MOVE TO STATIC AFTER DEMO -->
<style>

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    }
    
    .rating > input{
     display:none;
    }
    
    .rating > label {
    position: relative;
    width: 1.1em;
    font-size: 6vw;
    color: #FFD700;
    cursor: pointer;
    }
    
    .rating > label::before{
    content: "\2605";
    position: absolute;
    opacity: 0;
    }
    
    .rating > label:hover:before,
    .rating > label:hover ~ label:before {
    opacity: 1 !important;
    }
    
    .rating > input:checked ~ label:before{
    opacity:1;
    }
    
    .rating:hover > input:checked ~ label:before{ 
    opacity: 0.4;
     }
</style>

<div class="container-fluid">
	<h2>Recommendations for You </h2>
</div>


	<div class="container-fluid">
    
    <!-- Movie list -->
    <div class="row">
            {% if movie_list %}
            {% for movie in movie_list %}
                <div class="col-sm-2 col-md-2 ">
                    <div class="thumbnail">
                        <a href="{% url 'show-movie' movie.id %}">{{ movie }}</a>
                        
                        <div class="caption">

                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#give-rating">
                                Give Rating
                            </button>
                        
                            <!-- Modal -->
                            <div class="modal fade" id="give-rating" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Rate '{{ movie }}'</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="rating">
                                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Submit Rating</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                        
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
        </div>
    
</div>
{% endblock %}