<!--This HTML code represents the navigation bar that you see at the top of the application. It contains some text 
and URL redirects as well as the first name of the user logged in.-->

{% load i18n %}

{% load crispy_forms_tags %}

{% load static %}

<nav class="navbar navbar-expand-lg" style="background-color: #ACDDE7;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'app/images/newvie-logo.png' %}" alt="NewVie" width="182" height="50" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex" method=POST action ="{% url 'search' %}" role="search">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search movies.." aria-label="Search" name="searched">
            <button class="btn-outline-secondary" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ">
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class=" nav-link" href="/">{{user.first_name|title}}</a>
            </li>
            <li class="nav-item">
                <a class="text-dark" href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="text-dark" href="/login">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>