<!--This HTML code represents the navigation bar that you see at the top of the application. It contains some text 
and URL redirects as well as the first name of the user logged in.-->

{% load i18n %}

{% load crispy_forms_tags %}

<nav class="navbar navbar-expand-lg" style="background-color: #ACDDE7;">
    <a class="navbar-brand" href="/">NewVie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class=" nav-link" href="/">{{user.first_name|title}}</a>
            </li>
            <li class="nav-item">
                <a class="text-dark" href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="text-dark" href="/login">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>