{% extends 'app/base.html' %}

{% block content %}

<div class="card border-dark mt-4">
    <h2 class="card-header text-center">{{ movie }}</h2>
    <div class="card-body">
        <p class="card-text">{{ movie.description }}</p>
        <hr>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p>Runtime Length: {{ movie.runtime_length }}</p>
            </div>
            <div class="col">
                <p>Release Date: {{ movie.release_date }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                Genre(s):
                {% for genre in genres %}
                <li>{{ genre }}</li>
                {% endfor %}
            </div>
            <div class="col">
                Languages(s):
                {% for language in languages %}
                <li>{{ language }}</li>
                {% endfor %}
            </div>
            <div class="col">
                Streaming Options(s):
                {% for streaming_option in streaming_options %}
                <li>{{ streaming_option }}</li>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#give-rating">
            Give Rating
        </button>
    
        {% include "app/give_rating_modal.html" %}
    </div>
</div>
{% endblock %}