<!--This HTML file serves as the front-end page for the sign up page. Its contains the POST form of the sign up page, some client-sided validation
as well as the code for redirecting the POST data once the user presses the submit button. -->

{% extends 'app/base.html' %}

{% load i18n %}

{% block page_title %}{% trans "Signup Page" %}{% endblock page_title %}

{% block content %}
<h1>Sign Up Page</h1>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-10 col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Register for an Account</h3>
                    {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group col-sm-offset-2 col-sm-10">
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Already have an account? <a href="{% url 'login' %}">Click here</a> to log in.
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}